[
  {rabbitmq_auth_backend_oauth2, [
    {resource_server_id, <<"smarttraffic-cluster">>},
    {key_config, [
      {signing_keys, #{
        <<"hs256">> => {map, #{
          <<"kty">> => <<"MAC">>,
          <<"alg">> => <<"HS256">>,
          <<"use">> => <<"sig">>,
          <<"value">> => <<"super_secret_jwt_key_123">>
        }}
      }}
    ]}
  ]}
].
